.h1 {
  text-align: center;
  font-size: 32 px;
  font-style:oblique;
}

.epi {
  color: red;
  text-decoration: underline;
}

.box1 {
  margin:auto;
  width: 25%;
  border: 3px solid black;
  padding: 3px;
  background-color: rgb(245, 164, 155);
  margin-top: 15px;
  box-sizing: border-box;
}

.box2 {
  margin:auto;
  width: 50%;
  border: 3px solid black;
  padding: 3px;
  background-color: rgb(184, 184, 123);
  margin-top: 15px;
  margin-left: 25%;
  box-sizing: border-box;
}

.center {
  text-decoration: underline;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

.centered-image {
  border:solid white 5px;
  margin: auto;
  width: 30%;
  height:auto;
  display: block;
}

body {
  background-color: thistle;
}

.list {
  margin: auto;
  width:50%;
  /* display:block; */
}





