h1 {
  font-size: 32 px;
  font-style:oblique;
}

.h1 h1 {
  text-align: center;
}

.epi {
  color: red;
  text-decoration: underline;
}

.box1 {
  width: 45%;
  border: 3px solid black;
  padding: 3px;
  margin: auto;
  margin top: 10px;
  background-color: salmon;
  box-sizing: border-box;
}

.center {
  text-decoration: underline;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}



